# Files to ignore
SA.iws
SA.ipr
SA.iml
README.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LIECENSE-fml.txt
gradlew
forge-1.7.10-10.13.2.1232-changelog.txt
CREDITS-fml.txt
.project
.classpath

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
